$nav-color: #8db4a2;
$next-color: rgb(106, 136, 121);
$dark-next-color: rgb(45, 58, 51);
$dark-grey: #333;
$background-color: #666;
$secondary-color: rgb(133, 133, 133);
$text-color: #fff;

// DO SOME MEDIA QUERIES ON THE ABOUT PAGE!

body {
  font-family: "Alegreya", serif;
  background-color: $next-color;
}

// NAV
.nav-wrapper {
  background-color: $nav-color;
  a {
    font-size: 15px;
  }
}

.brand-logo {
  height: 53px;
}

// MOBILE NAV
#mobile-demo {
  background-color: $nav-color;
  a {
    color: $text-color;
    font-size: 15px;
  }
}

// INDEX
.index-container {
  margin-top: 3rem;
  min-height: 1250px;
  color: $text-color;
  .contact-us {
    text-align: center;
    li {
      padding-top: 1rem;
    }
  }
}

.card {
  background-color: $next-color;
  margin-top: 3rem;
  border-radius: 5px;
  .card-content {
    background-color: $next-color;
  }
}

// ABOUT
.about-container {
  min-height: 4500px;
  color: $text-color;
  margin-top: 3rem;
  .card {
    margin: 0;
    margin-top: 3rem;
    border-radius: 5px;
    .about-card-content {
      padding-top: 0;
    }
  }
  .img-ul {
    display: flex;

    img {
      width: 100%;
    }
  }

  .contact-us {
    text-align: center;
    li {
      padding-top: 1rem;
    }
  }
}

// CONTACT
.contact-container {
  color: $text-color;
  min-height: 850px;
  margin-top: 3rem;
  .contact-us {
    text-align: center;
    li {
      padding-top: 1rem;
    }
  }
  .btn {
    background-color: $nav-color;
  }
}

#contact-form {
  margin-top: 4rem;
  vertical-align: center;
}

.input-field {
  color: $text-color;
}

// FOOTER
.page-footer {
  padding: 0;
  color: $text-color;
  .footer-copyright {
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: $nav-color;
  }
  .fab {
    margin-right: 1rem;
  }
}
