$nav-color: #8db4a2;
$next-color: rgb(106, 136, 121);
$dark-next-color: rgb(45, 58, 51);
$dark-grey: #333;
$background-color: #666;
$secondary-color: rgb(133, 133, 133);
$text-color: #fff;

// DO SOME MEDIA QUERIES ON THE ABOUT PAGE!

body {
  font-family: "Alegreya", serif;
  background-color: $next-color;
}
// MEDIA QUERIES(NOT NEEDED!)

// @media (min-width: 1300px) {
//   .index-container {
//     min-height: 1800px;
//   }
//   .about-container {
//     min-height: 4000px;
//   }
// }
// @media (max-width: 1300px) {
//   .index-container {
//     min-height: 1200px;
//   }
//   .about-container {
//     min-height: 3400px;
//   }
// }
// @media (max-width: 1100px) {
//   .about-container {
//     min-height: 3100px;
//   }
// }
// @media (max-width: 600px) {
//   .index-container {
//     min-height: 800px;
//   }
//   .about-container {
//     min-height: 2300px;
//   }
// }
// @media (max-width: 400px) {
//   .about-container {
//     min-height: 1600px;
//   }
// }
// NAV
.nav-wrapper {
  background-color: $nav-color;
  a {
    font-size: 15px;
  }
}

.brand-logo {
  height: 53px;
}

// MOBILE NAV
#mobile-demo {
  background-color: $nav-color;
  a {
    color: $text-color;
    font-size: 15px;
  }
}

// INDEX
.index-container {
  margin-top: 3rem;
  color: $text-color;
  .contact-us {
    text-align: center;
    li {
      padding-top: 1rem;
    }
  }
}

.card {
  background-color: $next-color;
  margin-top: 3rem;
  border-radius: 5px;
  .card-content {
    background-color: $next-color;
  }
}

// ABOUT
.about-container {
  color: $text-color;
  margin-top: 3rem;

  .image-wrapper {
    margin-top: 3rem;
    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(28, 5vw);
    grid-gap: 10px;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img-10 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;
    }
    .img-9 {
      grid-column-start: 5;
      grid-column-end: 10;
      grid-row-start: 1;
      grid-row-end: 5;
    }
    .img-3 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 10;
    }
    .img-4 {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 14;
      grid-row-end: 20;
    }
    .img-6 {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 10;
    }
    .img-2 {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 5;
      grid-row-end: 10;
    }
    .img-17 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 10;
      grid-row-end: 14;
    }
    .img-8 {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 10;
      grid-row-end: 14;
    }
    .img-11 {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 10;
      grid-row-end: 15;
    }
    .img-16 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 14;
      grid-row-end: 20;
    }

    .img-7 {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 15;
      grid-row-end: 20;
    }
    .img-5 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 20;
      grid-row-end: 25;
    }
    .img-1 {
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 20;
      grid-row-end: 24;
    }
    .img-12 {
      grid-column-start: 8;
      grid-column-end: 10;
      grid-row-start: 20;
      grid-row-end: 24;
    }
    .img-13 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 25;
      grid-row-end: 29;
    }
    .img-14 {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 24;
      grid-row-end: 29;
    }
    .img-15 {
      grid-column-start: 7;
      grid-column-end: 10;
      grid-row-start: 24;
      grid-row-end: 29;
    }
  }

  .contact-us {
    text-align: center;
    padding-bottom: 10rem;
    li {
      padding-top: 1rem;
    }
  }
}

// CONTACT
.contact-container {
  color: $text-color;
  margin-top: 3rem;
  .contact-us {
    text-align: center;
    li {
      padding-top: 1rem;
    }
  }
  .btn {
    background-color: $nav-color;
  }
}

#contact-form {
  margin-top: 4rem;
  vertical-align: center;
}

.input-field {
  color: $text-color;
}

.contact-us {
  text-align: center;
  padding-bottom: 8rem;
}

// FOOTER
.page-footer {
  padding: 0;
  color: $text-color;
  .footer-copyright {
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: $nav-color;
    z-index: 1;
  }
  .fab {
    margin-right: 1rem;
  }
}
